body{
    background: #ddd;
    font-family: sans-serif;
}

#container{
    
    border-radius: 10px;
    padding: 30px;
}

header{
    box-sizing: border-box;
    background: #07a;
    color: #fff;
    font-size: 150%;
    min-height: 100px;
    padding: 5px 50px;
    width: 90%;
    margin: auto;
    border-radius: 10px 10px 0px 0px;
}

nav{
    box-sizing: border-box;
    background: #07a;
    color: #fff;
    min-height: 100px;
    padding: 5px 20px;
    width: 90%;
    margin: auto;
    margin-bottom: -10px;
}

#content{
    box-sizing: border-box;
    background: #fff;
    min-height: 550px;
    width: 90%;
    margin: auto;
    padding: 30px 50px;
}

footer{
    box-sizing: border-box;
    background: #fff;
    min-height: 100px;
    width: 90%;
    margin: auto;
    margin-top: -10px;
    text-align: center;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    clear:left;
}

h1{
    font-size: 150%;
}
nav ul li{
    display: inline;
    border-right: 1px solid #fff;
    padding-right: 5px;
}

nav ul li:last-child{
    border-right: none;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover{
    color: #0b4;
    text-decoration: underline;
}

#eventList{
    list-style: none;
    font-size: 14pt;
}

#eventList a{
    text-decoration: none;
    color: #000;
}
#eventList a:hover{
    text-decoration: underline;
    color: #0b4;
}
#textBox{
    width: 1000px;
    height: 500px;
    float:left;
}
#imgBox{
    padding-top: 50px;
    box-sizing: border-box;
    float:left;
}

#options{
    box-sizing: border-box;
}
#options a{
    text-decoration: none;
    color: #666;
    padding-right: 20px; 
}
#options a:hover{
    text-decoration: underline;
    color: #0b4;
}
#options a:visited{
    text-decoration: none;
    color: #666;
}