body{
    background: #ddd;
}

#container{
    
    border-radius: 10px;
    padding: 30px;
}

header{
    box-sizing: border-box;
    background: #07a;
    color: #fff;
    font-size: 150%;
    min-height: 100px;
    padding: 20px;
    width: 90%;
    margin: auto;
    border-radius: 10px 10px 0px 0px;
}

nav{
    box-sizing: border-box;
    background: #07a;
    color: #fff;
    min-height: 100px;
    padding: 20px;
    width: 90%;
    margin: auto;
    margin-bottom: -10px;
}

#content{
    box-sizing: border-box;
    background: #fff;
    min-height: 550px;
    width: 90%;
    margin: auto;
    padding: 30px;
}

footer{
    box-sizing: border-box;
    background: #fff;
    min-height: 100px;
    width: 90%;
    margin: auto;
    margin-top: -10px;
    text-align: center;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
}

h1{
    font-size: 100%;
}
nav ul li{
    display: inline;
    border-right: 1px solid #fff;
    padding-right: 5px;
}

nav ul li:last-child{
    border-right: none;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover{
    color: #0e6;
    text-decoration: underline;
}
